.ant-menu-item-selected {
  background-color: transparent !important;
}

.ant-menu-item:hover {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

.ant-modal {
  min-width: 350px;
}

.ant-layout-header {
  padding-inline: 40px;
}

@media (max-width: 1200px) {
  .ant-layout-header {
    padding-inline: 30px;
  }
}

@media (max-width: 992px) {
  .ant-layout-header {
    padding-inline: 20px;
  }
}

@media (max-width: 768px) {
  .ant-layout-header {
    padding-inline: 10px;
  }
}

@media (max-width: 576px) {
  .ant-layout-header {
    padding-inline: 5px;
  }
}

div[disabled]{
  opacity: 30%;
}

.check {
  align-items: center;
  background: #fcfcfd;
  border: 2px solid #e8eaee;
  border-radius: 50px;
  box-sizing: border-box;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  min-height: 90px;
  padding: 32px 15px;
  position: relative;
  transition: transform 0.15s;
  width: 30%;
}
